*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}
#header{
    display: flex;
}
.mainTop{
    display: flex;

}
#stoppBtn {
    background-color: #f14024;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s; transform 0.3s;
}
#stoppBtn:hover {
    background-color: #d3371f;
}
#stoppBtn:active {
    background-color:#ad2e1a;
    transition: 0.05s;
}
.mainMiddle{
    display: flex;
    
}
#converterSelector {
    width: 220px;
    padding: 2px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}
#convertButton, #startBtn {
    background-color: #40aeb8;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s; transform 0.3s;

}
#convertButton:hover, #startBtn:hover{
    background-color:#2e7d84;
    
}
#convertButton:active, #startBtn:active {
    background-color: #25646a;
    transition: 0.05s;
    
}
#converterDiv {
    padding-bottom: 50px;
}