# Node modules
node_modules/

# dotenv environment variables file
.env

# Logs
*.log

# MacOS specific files
.DS_Store

# IDE specific files
.vscode/
.idea/

# Ignore rockYou.json in the data folder
data/rockYou.json