:root{
    --primaryColor:#2e7d84;
    --secondaryColor: #ffffff;
    --thirdColor:#D64EB4;
    --fourthColor:#41afb9;
    --fifthColor: #000000;
    --sixthColor: #24B2DF;
    --seventhColor: #23a6db;
    --eigthColor: #d3d3d3;
    --ninthColor: #c5c5c5;
    --tenthColor: #e5e5e5;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    color: var(--fifthColor)
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    top: 1rem;
    left: 1rem;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide the default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: var(--seventhColor);
transition: .4s;
border-radius: 34px;
}

/* The slider before the toggle */
.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: var(--eigthColor);
transition: .4s;
border-radius: 50%;
}

/* When the checkbox is checked, the background is green */
input:checked + .slider {
background-color: var(--fifthColor);
}

/* Move the slider when the checkbox is checked */
input:checked + .slider:before {
transform: translateX(26px);
}
#toggleDiv {
    position: fixed;
    top: -0.5rem;
    right: 1.5rem;
}
.navbar {
    height: 3rem;
    position: sticky;
    top: 0;
    display: flex;
    align-content: center;
    background-color: var(--eigthColor);
    border-bottom: 2px solid var(--sixthColor);
    width: 100%;
    overflow: hidden;
}
.navbar button {
    margin-left: 0.2px;
    width: 10rem;
    border-left: 0.5px var(--ninthColor);
    border-radius: 2px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s transform 0.3s;
}
#go-to-bottom {
    
}
#go-to-top {
    
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--sixthColor);
}
input,
select,
option{
    color: black;
}
.allDiv{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d3d3d3;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    
}
#matrixCanvas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
 
}
#imgDiv{
    display: flex;
    align-items: end;
    
}
#logo {
    width: 300px;
}
#logoFooter{
    display: none;
}
#header {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;
    width: 80%;
    box-sizing: border-box;
    margin-top: 6rem;
    margin-bottom: 3rem;
}
.highlight{
    font-style: italic;
    font-weight: bold;
    margin: 0 .3rem;
    
}
.headings{
    width: 80%;
    background-color:#e5e5e5;
    border-radius: 1rem;
    box-shadow: 3px -3px 4px 0.5px var(--sixthColor);
    
}
.headings h4{
    color: var(--seventhColor);
    margin-bottom: 1rem;
    padding: 1rem;
    text-shadow: 0.5px 0.5px 0px rgba(0, 0, 0, 0.5);

}
.headings h3{
    padding: 1rem;
    font-size: 1.4rem;
    color: var(--seventhColor);
    text-shadow: 0.5px 0.5px 0px rgba(0, 0, 0, 0.5);

}
.headings p{
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    margin-left:  0.5rem;
    line-height: 1.2;
    box-shadow: 1px 2px 3px #c5c5c5;
    padding: 0.5rem;
}
.headings h2{
    color: var(--seventhColor);
    margin-bottom: 1rem;
    padding: 1rem;
    text-shadow: 0.5px 0.5px 0px rgba(0, 0, 0, 0.5);

}
#headerText{
    overflow: hidden;
    text-overflow: ellipsis;
    background-color:#e5e5e5;
    border-radius: 1rem;
}
#headerText p{
    box-shadow: 1px 2px 3px #c5c5c5;
    line-height: 1.5rem;
    padding: 0.5rem;
}
#headerText h1{
    margin: 1rem;
    color: var(--sixthColor);
    text-shadow: 0.5px 0.5px 0px rgba(0, 0, 0, 0.5);
    
}
#headerText p::first-letter {
    font-size: 3rem;
    font-weight: bold;
    float: left;
    line-height: 1;
    margin-right: 0.1em; 
    color: var(--sixthColor);

}
.input{
    background: rgba(255, 255, 255, 0.925);
}
#monkeyAnimated{
    width: 10rem;
    height: 10rem;
    margin-right: 3rem;
}
#stopBrute button{
    padding: .5rem;
    width: 4rem;
}
#startPwGenDiv select{
    margin: 1rem;
    width: 2.5rem;
}
#stopBrute:hover {
    background-color: #d3371f;
}
#stopBrute:active {
    background-color:#ad2e1a;
    transition: 0.05s;
}
.mainMiddle,
.mainBottom,
.mainTop{
    display: flex;
    width: 80%;
    justify-content: space-between;
    gap: 3rem;

}
.mainMiddle {
    margin-top: 2rem;
}
.mainTop {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.mainBottom {
    margin-bottom: 5rem;
}
.startBtn {
    background-color: var(--sixthColor);
    color: var(--secondaryColor);
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s transform 0.3s;
    width: 7rem;
    height: 2.5rem;
}
#userGeneratorBtn {
    margin-top: 1.7rem;
    align-self: center;
}
#generatedPassword {
    margin-top: 2rem;
}
.copyButton {
    background-color: transparent;
    border: hidden;
    height: 1rem;
    width: 1rem;
    cursor: pointer;
    margin-left: 0.5rem;
}
.copyButton:active {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
}
.copyButton img{
    height: 1rem;
    width: 1rem;
}
.startBtn:hover{
    background-color: var(--primaryColor)
    
}
#stopBrute{
    background-color: red;
}
.startBtn:active{
    background-color: #25646a;
    transition: 0.05s;
    
}
#converterDiv {
    padding-bottom: 50px;

}

.appBox{
    border-radius: 1rem;
    box-shadow: 3px -3px 4px 0.5px var(--sixthColor);
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 1rem;
    gap: 1rem;
    align-items: center;
    background: var(--tenthColor);
  
}
h3{
    color: var(--sixthColor);
    text-shadow: 0.5px 0.5px 0px rgba(0, 0, 0, 0.5);

}
.label{
    background-color: var(--sixthColor);
    padding: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    padding: .5rem;
}
.label:hover{
    cursor: pointer;
}
.label label:hover{
    cursor: pointer;
}
#uploadLabel{
    color: var(--secondaryColor)
}
table{
    border: 1px solid #ffffff;
}
th{
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    padding: .5rem;
}
#lastTh{
    border-right: none;
}
.loading{
    border-width: .2rem;
}
td{
    width: 6rem;
    text-align: center;
    padding: .5rem;
    border-right: 1px solid white;
}
#statOutput :last-child{
    border-right: none;
}
#statOutput{
    height: 2.5rem;
}

.lds-dual-ring,
.lds-dual-ring:after {
  box-sizing: border-box;
}
.lds-dual-ring {
  display: inline-block;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 6.4px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.bruteBtns{
    display: flex;
    gap: 2rem;
    justify-content: left;
    align-items: center;
}
.bruteInput{
    display: flex;
    gap: 2rem;
}
.wizardInput{
    display: flex;
    gap: 1rem;
}
#wizardInput2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.wizardLength{
    display: flex;
    gap: 4.5rem;
    align-items: center;
}
#converterSelector,
.pictureMagicDiv{
    display: flex;
    gap: 1rem;
}
.flexbox-item1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.flexbox-item2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
input,
select{
    width: 10rem;
    height: 2rem;
}

@media(max-width:500px){
    .bruteInput,
    .wizardInput,
    .wizardLength,
    .flexbox-item2{
        flex-direction: column;
    }
    .wizardLength{
        gap: 1rem;
    }
    .flexbox-item2{
        align-items: center;
    }
    .appBox{
        width: 80%;
    }
    #headerText {
        width: 100%;
    }
    #header {
        gap: 0rem;
    }
}



@media(max-width:1030px){
    .flexbox-item2{
        flex-direction: column;
    }
    #converterSelector{
        justify-content: center;
        align-items: center;
    }
    .wizardInput{
        flex-direction: column;
    }
    #headerText {
        width: 100%;
    }
    #header {
        gap: 0rem;
    }
}


@media (max-width: 800px) {

    #logo{
        display: none;

    }
    #logoFooter {
        display: flex;
        width:80%;
    }
    footer{
        display: flex;
        width: 80%;
        justify-content: center;
        align-items: center;
    }
    .mainMiddle,
    .mainTop,
    .mainBottom,
    #startPwGenDiv,
    .pictureMagicDiv,
    .flexbox-item2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #bruteForceApp{
        display: flex;
        flex-direction: column;
    }
    #header h1{
        text-align: center;
    }
    #headerText {
        width: 100%;
    }
    #header {
        gap: 0rem;
    }
    .appBox {
        width: 100%;
    }
    .navbar {
        justify-content:flex-start;
    }
    .navbar button {
        width: 20%;
    }
}

