.bg-ai-custom{
    background-color:#23bbb8;
}
.border-custom{
    border-right: 5px solid #f1f5f5 !important;
}
#question{
    min-height: 13rem;
}
.offcanvas img{
    width: 3rem;
    height: 3.3rem;
    border-radius: 50%;
}

.offcanvas h5{
    background-color: #EA6954;
}

#aiAssistant:hover{
    animation: moveBtnAi .5s ease-out forwards; /* Wende die Animation an */
}

@keyframes moveBtnAi {
        0% {
            right: -5rem;
        }
        100% {
            right: -.5rem;   
        }   
}
