#aiAssistant{
    position: fixed;
    left:-5rem;
    top:40%;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
    width: 7rem;
    height: 5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
#aiAssistant:hover{
    animation: moveBtnAi .5s ease-out forwards; /* Wende die Animation an */
}
@keyframes moveBtnAi {
        0% {
            left: -2.5rem;
        }
        100% {
            left: -.5rem;   
        }   
}

.sectionDiv{
    width: 80%;
}