@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", serif;
}
.bg-ai-custom {
  background-color: #f1f5f5;
}

#question {
  min-height: 13rem;
}

.sanchez .offcanvas-header {
  display: flex;
  justify-content: end;
  padding: 0;
  background-color: #ea6954;
  border: none !important;
}
.sanchez .offcanvas-header button {
  margin: 0.5rem 0.5rem;
}

.sanchez .offcanvas-body {
  padding: 3rem 2rem;
}

textarea {
  color: black !important;
}
.sanchez .offcanvas-title {
  background-color: #ea6954;
  margin: 0 !important;
  border-radius: 0 !important;
  border: none !important;
}
.sanchez .imgCon {
  display: flex;
  justify-content: center;
  background-color: #ea6954;
}

.sanchez img {
  border-radius: 0.5rem;
  width: 5rem;
}

.sanchez button {
  margin-left: auto;
  font-size: 1.3rem;
  margin-top: 2rem;
}

.sanchez h5 {
  color: white;
  font-size: 2.4rem;
  text-align: center;
  padding: 1rem !important;
}

#aiAssistant:hover {
  animation: moveBtnAi 0.5s ease-out forwards; /* Wende die Animation an */
}

@keyframes moveBtnAi {
  0% {
    right: -5rem;
  }
  100% {
    right: -0.5rem;
  }
}
