.bruteBox,
.excalibur,
.appBox{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 1rem;
    gap: 1rem;
    align-items: center;
    background-color:#f1f5f5;
    border-radius:1rem;
}