@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.copyButton {
    position: relative;
    background-color: transparent;
    border: hidden;
    height: 1rem;
    width: 1rem;

    cursor: pointer;
    margin-left: 0.5rem;
}
.copyButton img{
    width: 100%;
}
i::before{
    background: transparent;
}

.bg-header{
    background-color: #EA6954;
}

.montserrat-font-clippy {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2.4rem;
    font-weight: 400;
    color: white;
}
.confirmBubble{
    position: absolute;
    top: -0.1rem;
    left: 1.5rem;
    background-color: #fff;
    border: 1px solid #7e7575;
    border-radius: .5rem;
    display: none;
    font-size: .8rem;
    padding: .2rem;
    
}

.nav-item-clippy{
    padding: .5rem 0.5rem;
    color: white;
    font-size: 1.5rem;
}

#userListBtn{
    margin-left: -.3rem;
    z-index: 2;
    background-color: #ea6854c5;
    border-bottom-right-radius: .5rem;

}
#passwordListBtn{
    background-color: aqua;
    background-color: #ea6854;
    border-bottom-right-radius: .5rem;
}
.btnBox{
    display: flex;
    gap:.5rem;
}

.fadeIn{
    display: flex;
    animation: fadeIn 2s forwards ;
}
@keyframes fadeIn {
    0% { opacity: 0; display: block; }
    50% { opacity: 1; }
    100% { opacity: 0; display: none; }
}

