.copyButton {
    position: relative;
    background-color: transparent;
    border: hidden;
    height: 1rem;
    width: 1rem;

    cursor: pointer;
    margin-left: 0.5rem;
}
.copyButton img{
    width: 100%;
}
.w-custom{
    width: 33% !important;
}
.confirmBubble{
    position: absolute;
    top: -0.1rem;
    left: 1.5rem;
    background-color: #fff;
    border: 1px solid #7e7575;
    border-radius: .5rem;
    display: none;
    font-size: .8rem;
    padding: .2rem;
    
}
.fadeIn{
    display: flex;
    animation: fadeIn 2s forwards ;
}
@keyframes fadeIn {
    0% { opacity: 0; display: block; }
    50% { opacity: 1; }
    100% { opacity: 0; display: none; }
}

