

/* ================================================ Other Stuff =======================================*/



.bg-custom {
  background-color: #23bbb858;
}
main {
  min-height: 110vh;
  overflow: hidden;
}
header {
  min-height: 90vh;
}
main > section {
  width: 100%;
  padding: 1.2em;
}

.bounce {
  animation: bounce 2s;
}

/* ================================================ LANDING PAGE HERO TEXT  ============================================= */

.montserrat-font-header {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: clamp(2rem, 5vw, 6rem);
  padding: 0;
  line-height: clamp(2rem, 5vw, 6rem);
  margin: 0;
  font-optical-sizing: auto;
}

.inria-serif-regular {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: normal;
}
.leadFont {
  font-size: clamp(1.1rem, 2.5vw, 3rem);
  line-height: clamp(1.1rem, 2vw, 2.5rem);

  font-weight: 450;
  font-style: normal;
}
#landingLeftSide {
  padding-left: 7rem;
}

#siteName p:first-of-type {
  margin-bottom: 0;
}
#padlockLogo {
  width: clamp(5rem, 40vw, 40rem);
  transform: rotate(10deg);
}
#padlockLogoTop {
  width: clamp(5rem, 40vw, 40rem);
  transform: rotate(10deg);
}
.subText {
  font-size: clamp(0.9rem, 1.5vw, 1.8rem) !important;
  font-weight: 400;
  line-height: clamp(0.9rem, 1.5vw, 1.8rem);
}
#exploreText {
  font-size: clamp(.9rem, 1.2vw, 1.5rem) !important;
  text-align: center;
  border: 1px solid #ea6954;
  border-radius: 1rem;
  padding: 2rem 1rem 2rem 1rem;
  font-weight: 600;
}

#scrollArrow {
  transform: rotate(180deg);
  width: clamp(5rem, 5vw, 10rem);
  margin-top: auto;
  height: 10vh;
}
#scrollIntoViewBtn {
  background-color: transparent;
  border: none;
}

/* ===================== Landing Page Cards =============================== */

.card {
  min-height: 100%;
  max-width: 35rem;
  background-color: #f1f5f5;
  -webkit-box-shadow: -1px 3px 35px 0px rgba(130, 127, 130, 0.45);
  -moz-box-shadow: -1px 3px 35px 0px rgba(130, 127, 130, 0.461);
  box-shadow: -1px 3px 35px 0px rgba(130, 127, 130, 0.457);
}
.card-header {
  font-size: clamp(1.1rem, 2.5vw, 3rem);
  line-height: clamp(1.1rem, 2vw, 2.5rem);

  font-weight: 450;
  font-style: normal;
}
.card-title,
.card-title font {
  font-family: "Inria Serif", serif;
  font-size: clamp(1rem, 5vw, 2rem) !important	 ;
  line-height: clamp(1.1rem, 3vw, 2.5rem);
  letter-spacing: 0.1rem;
  font-weight: 450;
  font-style: normal;
}
.card-subtitle {
  font-size: clamp(0.9rem, 4vw, 1.5rem) !important;
  font-weight: 400;
}
.card-text {
  font-size: clamp(0.9rem, 1.5vw, 1.3rem) !important;
  font-weight: 400;
  line-height: clamp(0.9rem, 3vw, 1.8rem);
}
.card a {
  margin-top: calc(5rem + vw);
}
.btn {
  background-color: #ea6954;
  color: #f1f5f5;
}
.btn font {
  color: #f1f5f5;
}

.btn:hover {
  background: #56c5c3;
  color: #f1f5f5;
}

/* ====================== Keyframes ===================== */

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-30px);
  }
  40% {
    transform: translateY(15px);
  }
  60% {
    transform: translateY(-15px);
  }
  80% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0);
  }
}

/* =================================== media queries ================================*/

@media (max-width: 1600px) {
  .w-50 {
    width: 65% !important;
  }
}

@media (max-width: 992px) {
  .w-50 {
    width: 90% !important;
  }
  main {
    height: 100%;
  }
  #landingLeftSide {
    padding-left: 0;
  }
  #exploreText {
    padding: 1rem 1rem 1rem 1rem;
  }
}
