*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
main{
    display: flex;
    flex-direction: column;

}
section{
    padding: 5rem 0;
 
}
main section :first-child{
    background: #77B6EA;
}
main section:nth-child(2n-1){
    background: #e8eef2;
}
main section:nth-child(2n-2){
    
    background: #c7d3dd;
}
.sectionDiv{
    width: 70%;
}   
.custom-img{
    border-radius: 1rem;
}

@media(max-width: 991px){

    .custom-img{
        width: 10rem;
        height: 7rem;
    }
}
@media(min-width:992px){

    .custom-img{
        width: 15rem;
        height: 10rem;
    }


}

