* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
main{
  display: flex;
  flex-direction: column;
  
}
nav img {
  width: 3rem;
}
.bg-custom {
  background-color: #23bbb858;
}
.nav-custom {
  background-color: #f1f5f5;
}

#jumbotron{
  height: 100vh;
}
#padlockPic{
  max-width:15rem;

  margin-right: 10rem;
  transform: rotate(20deg);

}
#PPIcon{
  width: 20rem;
  height: 12rem;
  transform: rotate(-5deg);
}
#arrow{
  transform: rotate(180deg);
  width: 5rem;
}

#quickNav {
    position: fixed;
    right: -7rem;
    top: 40%;
}

.card{
  min-height: 28rem;
  max-width: 25rem;
}
.card img{
  max-width: 18rem;
}

#quickNav img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

}

#quickNav button {
    position: absolute;
    right:1rem;
    position: relative;
}


#quickNav button:hover {

    animation: moveBtn 0.5s forwards
}


@keyframes moveBtn {
        0% {
            right:1rem
        }
        100% {
            right: 6.5rem;   
        }   
}

.btn {
  background-color: #ea6954;
  color: white;
}
.sectionDiv {
  width: 70%;
  background: #f1f5f5;
  border-radius: 1rem;
}

.hr-custom {
  border: 2px solid black;
  opacity: 1;
}
.btn:hover {
  background: #56c5c3;
  color: white;
}
.custom-img {
  border-radius: 1rem;
}
nav {
  min-height: 64px;
}
header {
  width: 75%;
  min-height: 800px;
  color: #151c19;
}

@media (max-width: 991px) {
  .custom-img {
    width: 10rem;
    height: 7rem;
  }
}
@media (min-width: 992px) {
  .custom-img {
    width: 15rem;
    height: 10rem;
  }
  .heroText {
    width: 75%;
  }

}


@media (max-width: 1090px) {
  .card{
    min-height: 1px;
    max-width: none;
  }

}
  @media (max-width: 700px) {
    .bruteBox,
    .excalibur,
    .appBox,
    .sectionDiv {
      width: 90%;
    }
  }
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
}


@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-30px);
  }
  40% {
    transform: translateY(15px);
  }
  60% {
    transform: translateY(-15px);
  }
  80% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0);
  }
}

.bounce {
  animation: bounce 1.2s ease;
}