/* =================== Navbar ================== */

nav {
  min-height: 80px;
}
nav img {
  width: 4rem;
}
.nav-custom {
  background-color: #f1f5f5;
}
.dropdown-menu {
  left: -62px !important;
}
.nav-link {
  line-height: 1em;
}

.nav-link span {
  display: block;
  font-weight: 300;
  margin-top: .3rem;
  color: black;
  font-size: 14px;
}



@media(max-width: 992px) {
  .dropdown-menu {
    left: 0 !important;
  }

}


/* =================== QuickNav ================== */

#quickNav {
  position: fixed;
  right: -8rem;
  top: 40%;
}
#quickNav img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
#quickNav button {
  background-color: #ea6954;
  border: none;
  position: relative;
  right: 1rem;

}
#quickNav button:hover {
  animation: moveBtn 0.5s forwards;
}

@keyframes moveBtn {
  0% {
    right: 1rem;
  }
  100% {
    right: 6.5rem;
  }
}

