@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* =================== Navbar ================== */

nav {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1rem, 1vw, 1.2rem);

}
.navbar-brand {
  font-size: clamp(1.3rem, 3vw, 3rem);
  font-weight: 500;
}
nav img {
  width: clamp(3rem, 3vw, 4rem);
}
.nav-custom {
  background-color: #f1f5f5;
}
.dropdown-menu {
  left: -62px !important;
}
.nav-link {
  line-height: 1em;
}

.nav-link span {
  display: block;
  font-weight: 300;
  margin-top: .3rem;
  color: black;
  font-size: 14px;
}



@media(max-width: 992px) {
  .dropdown-menu {
    left: 0 !important;
  }

}


/* =================== QuickNav ================== */

#quickNav {
  position: fixed;
  right: -6.3rem;
  top: 40%;
  z-index: 1;
}
#quickNav img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
#quickNav button {
  background-color: #ea6954;
  border: none;
  position: relative;
  right: 1rem;
  margin-top: .5rem;

}
 button p{
  color: #f1f5f5;
 }
#quickNav button:hover {
  animation: moveBtn 0.5s forwards;
}

.noticeMeSenpai {
  will-change: box-shadow, border-color;
  animation: glowing 2s infinite forwards ;
}



/* ==================== Modals ============================ */


#logReg h1{
  cursor: pointer;
}






/* ===================== KEYFRAMES ============================ */
@keyframes moveBtn {
  0% {
    right: 1rem;
  }
  100% {
    right: 6rem;
  }
}



@keyframes glowing {
  0% {
      border-color: rgba(234, 105, 84, 0.2); /* Sehr schwaches Rot */
      box-shadow: 0 0 3px rgba(234, 105, 84, 0.4), 
                  0 0 9px rgba(234, 105, 84, 0.3), 
                  0 0 12px rgba(234, 105, 84, 0.2);
      transform: rotate(2deg);
  }
  25% {
      border-color: rgba(234, 105, 84, 0.4); /* Schw채cheres Rot */
      box-shadow: 0 0 8px rgba(234, 105, 84, 0.6), 
                  0 0 13px rgba(234, 105, 84, 0.5), 
                  0 0 18px rgba(234, 105, 84, 0.2);
      transform: rotate(-2deg);
  }
  50% {
      border-color: rgba(234, 105, 84, 0.6); /* St채rkeres Rot */
      box-shadow: 0 0 10px rgba(234, 105, 84, 0.8), 
                  0 0 15px rgba(234, 105, 84, 0.6), 
                  0 0 20px rgba(234, 105, 84, 0.4);
      transform: rotate(2deg);
      
  }
  75% {
      border-color: rgba(234, 105, 84, 0.4); /* Zur체ck zu schw채cherem Rot */
      box-shadow: 0 0 8px rgba(234, 105, 84, 0.4), 
                  0 0 10px rgba(234, 105, 84, 0.3), 
                  0 0 15px rgba(234, 105, 84, 0.2);
      transform: rotate(-2deg);
  }
  100% {
    border-color: rgba(234, 105, 84, 0.2); /* Sehr schwaches Rot */
    box-shadow: 0 0 3px rgba(234, 105, 84, 0.4), 
                0 0 9px rgba(234, 105, 84, 0.3), 
                0 0 12px rgba(234, 105, 84, 0.2);
    transform: rotate(0deg);
  }
}


