

/* =================== Navbar ================== */
body{
  background-color: #56c5c3;
}

* {
  font-family: "Montserrat", sans-serif;
}
nav {
  font-optical-sizing: auto;
  font-style: normal;
  z-index: 123;
}
.navbar-brand {
  font-size: clamp(1.3rem, 3vw, 3rem);
  font-weight: 500;
}
nav img {
  width: clamp(3rem, 3vw, 4rem);
}
.nav-custom {
  background-color: #f1f5f5;
}
.dropdown-menu {
  left: -62px !important;
}
.nav-link {
  line-height: 1em;
}

.nav-link span {
  display: block;
  font-weight: 300;
  margin-top: 0.3rem;
  color: black;
  font-size: 14px;
}
.btn:active{
  background-color: #56c5c3 !important;
}
@media (max-width: 992px) {
  .dropdown-menu {
    left: 0 !important;
  }
}

.btn {
  background-color: #ea6954 !important;
  color: #f1f5f5 !important;
  border: none !important;
}

.btn:hover {
  background: #56c5c3 !important;

}
.btn:active {
  background-color: #56c5c3 !important;
}
/* =================== QuickNav ================== */

#quickNav {
  position: fixed;
  right: -6rem;
  top: 40%;
  z-index: 1;
}
#quickNav img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
#quickNav button {
  background-color: #ea6954;
  border: none;
  position: relative;
  right: 1rem;
  margin-top: 0.5rem;
}
button p {
  color: #f1f5f5;
  width: 100%;
  text-align: center;
}
#quickNav button:hover {
  animation: moveBtn 0.5s forwards;
}

.noticeMeSenpai {
  will-change: box-shadow, border-color;
  animation: glowing 2s infinite forwards;
}

/* ==================== Modals ============================ */

#logReg h1 {
  cursor: pointer;
}

/* ===================== KEYFRAMES ============================ */
@keyframes moveBtn {
  0% {
    right: 1rem;
  }
  100% {
    right: 5.8rem;
  }
}

@keyframes glowing {
  0% {
    transform: rotate(0deg) scale(1); /* Keine Rotation und normale Größe */
  }

  50% {
    transform: rotate(3600deg) scale(1.4); /* Vollständige Rotation zurück zur ursprünglichen Größe */
  }
  100% {
    transform: rotate(-3600deg) scale(1); /* Vollständige Rotation zurück zur ursprünglichen Größe */
  }
}
