
#uploadLabel {
  border-radius: 0.5rem !important;
}
.label {
  border-radius: 5px;
}
#uploadLabel {
  color: white;
}
section{
  width: 100%;
  max-width: 1600px;

}

h3{
  text-transform: uppercase;
  text-align: center;
}
.card {
  margin: 0 auto;
  max-width: 30rem;
  min-height: 710px;
  -webkit-box-shadow: -1px 3px 35px 0px rgba(130, 127, 130, 0.45);
  -moz-box-shadow: -1px 3px 35px 0px rgba(130, 127, 130, 0.461);
  box-shadow: -1px 3px 35px 0px rgba(130, 127, 130, 0.457);
}
.bg-card-custom {
  background-color: #f1f5f5;
}
.text-custom {
  color: #ea6954;
}
.bg-custom {
  background-color: #23bbb870;
}
.btn {
  background-color: #ea6954;
  color: white;
  border: none;
} 
.btn:hover {
  background: #56c5c3;
  color: white;
}


