.description {
  width: 25rem;
}

.custom-img {
  border-radius: 1rem;
}
main {
  display: flex;
  flex-direction: column;
}
#picResult,
.input {
  width: 30%;
  padding: 0.2rem;
  border-radius: 0.5rem;
}
.pwInputDiv {
  width: 75%;
}
#passwordInput {
  height: 3rem !important;
  margin-top: auto !important;
}
nav img {
  width: 3rem;
}
#quickNav {
  position: fixed;
  right: -7rem;
  top: 40%;
}

#quickNav img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

#quickNav button {
  position: absolute;
  right: 1rem;
  position: relative;
}

#quickNav button:hover {
  animation: moveBtn 0.5s forwards;
}

@keyframes moveBtn {
  0% {
    right: 1rem;
  }
  100% {
    right: 6.5rem;
  }
}
.label {
  border-radius: 5px;
}
#uploadLabel {
  color: white;
}
#previewImage {
  width: 10rem;
  height: 10rem;
}

nav {
  min-height: 64px;
}
header {
  min-height: 400px;
  color: #151c19;
}
@keyframes moveBtnAi {
  0% {
    right: -5rem;
  }
  100% {
    right: -0.5rem;
  }
}

.sectionDiv {
  width: 80%;
}
.text-custom {
  color: #ea6954;
}
.card {
  min-height: 400px;
}
.bg-custom {
  background-color: #23bbb870;
}

.nav-custom {
  background-color: #f1f5f5;
}

.btn {
  background-color: #ea6954;
  color: white;
  border: none;
}
.sectionDiv {
  width: 70%;
  background: #f1f5f5;
  border-radius: 1rem;
}
.hr-custom {
  border: 2px solid black;
  opacity: 1;
}
.btn:hover {
  background: #56c5c3;
  color: white;
}
.custom-img {
  border-radius: 1rem;
}
@media (max-width: 991px) {
  .custom-img {
    width: 7rem;
    height: 5rem;
  }
  .input {
    width: 50%;
    padding: 0.2rem;
    border-radius: 0.5rem;
  }
}
@media (min-width: 992px) {
  .custom-img {
    width: 7rem;
    height: 5rem;
  }
  .custom-width {
    width: 75% !important;
  }
  .heroText {
    width: 75%;
  }
}
@media (max-width: 700px) {
  .bruteBox,
  .excalibur,
  .appBox,
  .sectionDiv,
  #bruteForceApp,
  #passwordStrengthCalc,
  .contentContainer {
    width: 90%;
  }
}
