@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");


/* ==================  General Styling =============== */


#basic-addon1,
#basic-addon2 {
  cursor: pointer;
}

*{
  font-family: "Montserrat", sans-serif;
  
}
main section{
  width: 100%;

}
.col{
  margin-top: 2rem;
}
.form-check-input:checked {
  background-color: #ea6954;
  border-color: #ea6954;
}

/* ====================  Cards Header =============== */

.imageContainer{
  position: relative;
  overflow: hidden;
  border-radius: .5rem;
}
.imageContainer img{
  aspect-ratio: 16/9;
  border-radius: .5rem;
  object-fit: cover;
  filter: blur(2px);
}
.imageContainer .h1Con{
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #ffffff7c;
  border-radius: .5rem;
  width: 100%;
  z-index: 1;
  
  
}
.h1Con h1{
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: calc(1.1rem + .5vw);
  font-family: "inria serif", sans-serif;
  letter-spacing: .3rem;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: .2rem .2rem;
  margin: 0 .2rem;
  background-color: #ffffff18;
}

h1 font{
  font-family: "inria serif", sans-serif;
}
button font {
  color: #f1f5f5;
}




/* ======= Card ======== */


.card {
  max-width: 30rem;
  height: 100%;
  display: flex;
  color: #212529;
  flex-direction: column;
  background-color: #f1f5f5;
  -webkit-box-shadow: -1px 3px 35px 0px rgba(130, 127, 130, 0.45);
  -moz-box-shadow: -1px 3px 35px 0px rgba(130, 127, 130, 0.461);
  box-shadow: -1px 3px 35px 0px rgba(130, 127, 130, 0.457);
}
.card p{
  font-size: clamp(.9rem, 3vw, 1rem);
}
.card p span{
  color: #e93232;
  
}
.bg-card-custom {
  background-color: #f1f5f5;
}
.text-custom {
  color: #ea6954;
}
.bg-custom {
  background-color: #23bbb870;
}
button.btn {
  background-color: #ea6954;
  color: white !important;
  border: none;
} 
.btn:hover {
  background: #56c5c3be;
  color: white;
}
.btn:active {
  background-color: #56c5c3 !important;
}
.btn:disabled{
  background-color: #eb6854;
}

#stopBrute{
  background: #ced4da;
}

@media(max-width: 500px){
  #bruteInput{
    width: 100% !important;
  }
}

/* ==================  Tables ===============  */

#tableWrapper{

  height: 180px;
  overflow-y: auto;


}


