.carousel-item {
  height: 300px;
  overflow: hidden;
}

.card {
  align-self: center;
  min-height: 40rem;
  max-width: 80%;
  -webkit-box-shadow: -1px 3px 35px 0px rgba(130, 127, 130, 0.45);
  -moz-box-shadow: -1px 3px 35px 0px rgba(130, 127, 130, 0.461);
  box-shadow: -1px 3px 35px 0px rgba(130, 127, 130, 0.457);
}

.carousel-caption {
  background-color: #1f1919bd;

  text-shadow: 1px 1px 1px #000000;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.input {
  width: 30%;
  padding: 0.2rem;
  border-radius: 0.5rem;
}
#quickNav {
  position: fixed;
  right: -7rem;
  top: 40%;
}

#quickNav img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

#quickNav button {
  position: absolute;
  right: 1rem;
  position: relative;
}

#quickNav button:hover {
  animation: moveBtn 0.5s forwards;
}

@keyframes moveBtn {
  0% {
    right: 1rem;
  }
  100% {
    right: 6.5rem;
  }
}
nav {
  min-height: 64px;
}
nav img {
  width: 3rem;
}
header {
  color: #151c19;
}
.description {
  width: 25rem;
}
#wizardTextDiv {
  width: 90%;
  align-self: center;
  padding: 2rem;
}
/* Container Styling */
#wizardDiv {
  display: flex; /* Enables Flexbox for horizontal alignment */
  justify-content: center; /* Centers the contents horizontally */
  align-items: flex-start; /* Aligns items to the top */
  gap: 1rem; /* Adds space between the main groups */
  flex-wrap: wrap; /* Prevents items from wrapping on larger screens */
}

/* Flex Item Styling - Input Groups */
#wizardInput5,
#wizardInput6 {
  display: flex; /* Flexbox to align items within each group */
  align-items: center; /* Centers content horizontally within each flex item */
  justify-content: center;
  min-width: 40%; /* Sets a minimum width for each group */
}
/* Label Styling */
#wizardDiv label {
  text-align: left; /* Aligns text to the left */
  text-wrap: nowrap;
  width: 100%; /* Ensures label takes the full width of its container */
}

/* Select and Button Styling */
#wizardDiv select,
#userGeneratorBtn {
  width: 100%; /* Takes the full width of the parent container */
}

/* Responsive Adjustments */
@media (max-width: 992px) {
  #wizardInput5,
  #wizardInput6 {
    width: 100%; /* Each item takes the full width */
    max-width: 25rem;
  }
}
@media (max-width: 580px) {
  #wizardInput5,
  #wizardInput6 {
    flex-direction: column;
  }
  #userGeneratorBtn {
    margin-top: 1rem;
  }
  #wizardInput1,
  #wizardInput2,
  #wizardInput3,
  #wizardInput4 {
    width: 75%;
  }
}
.custom-indicators button {
  background-color: #4caf50;
}

.custom-indicators .active {
  background-color: #ff5722;
}
.custom-arrow {
  filter: invert(49%) sepia(69%) saturate(6785%) hue-rotate(355deg)
    brightness(104%) contrast(101%);
}
.custom-img {
  border-radius: 1rem;
}
.form-check-input:checked {
  background-color: #ff5722;
  border-color: #ff5722;
}
.border-custom {
  border-right: 5px solid #f1f5f5 !important;
}
main {
  display: flex;
  flex-direction: column;
}
@keyframes moveBtnAi {
  0% {
    right: -5rem;
  }
  100% {
    right: -0.5rem;
  }
}
#picResult,
.input {
  width: 30%;
  padding: 0.2rem;
  border-radius: 0.5rem;
}

.label {
  border-radius: 5px;
}
#uploadLabel {
  color: white;
}
#previewImage {
  width: 10rem;
  height: 10rem;
}
.sectionDiv {
  width: 80%;
}
.text-custom {
  color: #ea6954;
}

.bg-custom {
  background-color: #23bbb870;
}
.nav-custom {
  background-color: #f1f5f5;
}
.btn {
  background-color: #ea6954;
  color: white;
  border: none;
}
.sectionDiv {
  width: 70%;
  background: #f1f5f5;
  border-radius: 1rem;
}
.hr-custom {
  border: 2px solid black;
  opacity: 1;
}
#stats1 {
  margin-bottom: 2.5rem;
}
.btn:hover {
  background: #56c5c3;
  color: white;
}
.custom-img {
  border-radius: 1rem;
}
#statsTableWrapper {
  height: 163.5px;
  margin-bottom: 2rem;
}
.tableWrapper {
  height: 150px;

  overflow-y: auto;
  overflow-x: auto;
  margin-bottom: 2rem;
}

@media (max-width: 991px) {
  .custom-img {
    width: 7rem;
    height: 5rem;
  }
}
@media (min-width: 992px) {
  .custom-img {
    width: 7rem;
    height: 5rem;
  }
  .heroText {
    width: 75%;
  }
}
