@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  color: #212529;
  font-family: "Montserrat", sans-serif;
}

.carousel-item {
  height: 300px;
  overflow: hidden;
}

.carousel-inner {
  min-height: 20rem;
}

.card {
  align-self: center;
  min-height: 40rem;
  width: 80%;
  -webkit-box-shadow: -1px 3px 35px 0px rgba(130, 127, 130, 0.45);
  -moz-box-shadow: -1px 3px 35px 0px rgba(130, 127, 130, 0.461);
  box-shadow: -1px 3px 35px 0px rgba(130, 127, 130, 0.457);
  border-radius: 0rem !important;
  --bs-card-border-width: 0px !important;
  --bs-card-inner-border-radius: 0px !important;
  --bs-card-img-overlay-padding: 0px !important;
}

.carousel-caption {
  border-radius: 1rem;
  margin-bottom: 2rem;
}

video {
  border: 2px solid #ea6954;
  margin-left: 1rem;
  border-radius: 0.3rem;
}

.dropdown-menu {
  left: -50px !important;
}

.input {
  width: 30%;
  padding: 0.2rem;
  border-radius: 0.5rem;
}

#quickNav {
  position: fixed;
  right: -7rem;
  top: 40%;
}

#quickNav img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

#quickNav button {
  position: absolute;
  right: 1rem;
  position: relative;
}

#quickNav button:hover {
  animation: moveBtn 0.5s forwards;
}

@keyframes moveBtn {
  0% {
    right: 1rem;
  }
  100% {
    right: 6.5rem;
  }
}

nav {
  min-height: 64px;
}

header {
  color: #151c19;
}

.description {
  width: 25rem;
}

#stats {
  max-width: 90%;
  min-width: 80%;
  padding: 0px !important;
}

#identityWizard,
#mindMaestro {
  background-color: #f1f5f5;
  padding: 0px;
  margin-bottom: 10rem;
  max-width: 1400px;
}

/* Container Styling */
#wizardDiv,
#quiz {
  margin-top: auto;
  background-color: #f1f5f5;
  min-height: 22rem !important;
  padding: 1rem 0rem;
  width: 100%;
}

#quiz {
  margin-top: 6.5rem !important;
}

#wizardInput1 {
  width: 80%;
}

#wizardInput1 > *:nth-child(-n + 5) {
  margin-bottom: 1rem;
}

#wizardInput5,
#wizardInput6 {
  display: flex; /* Flexbox to align items within each group */
  flex-direction: column;
  align-items: center; /* Centers content horizontally within each flex item */
  justify-content: center;
  width: 45%; /* Sets a minimum width for each group */
  height: 20rem;
}

#wizardInput5 {
  border-right: 1px solid grey;
}

/* Label Styling */
#wizardDiv,
#quiz label {
  text-align: left; /* Aligns text to the left */
  text-wrap: nowrap;
  width: 100%; /* Ensures label takes the full width of its container */
}

#userGeneratorBtn {
  width: 100%;
  margin-top: 1rem;
}

#deleteTableBtn {
  width: 80%;
  margin-top: auto;
  margin-bottom: 26px;
}

#stats tr:nth-child(even) {
  font-weight: 500; /* Example style: set a light gray background color */
}

#stats tr:nth-child(odd) {
  font-size: smaller;
  font-weight: 300;
}

.table-cell-content {
  display: flex;
  justify-content: space-between; /* Pushes content to both sides */
  align-items: center; /* Vertically aligns items to center */
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
}

.card-img {
  filter: opacity(15%);
}

.card-img-overlay {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  min-height: 40rem;
  background-size: cover;
  /* filter: opacity(15%); */
}

.imageContainer .h3Con {
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
  z-index: 1;
}

.imageContainer .textCon {
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50%;
  width: 100%;
  z-index: 1;
  width: 100%;
  align-self: center;
  padding: 1rem;
}

.card-text {
  font-family: "inria serif", sans-serif;
  letter-spacing: 0.3rem;
  padding: 1rem;
  margin: 0 0.2rem;
  background-color: #ffffff18;
  font-size: clamp(0.6rem, 1.2vw, 1.8rem);
  width: 60%;
  justify-content: center;
}

.card-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: clamp(2em, 3vw, 4rem);
  font-family: "inria serif", sans-serif;
  letter-spacing: 0.3rem;
  padding-bottom: 1rem;
  padding-top: 3rem;
  margin: 0 0.2rem;
  background-color: #ffffff18;
}

@media (max-width: 1400px) {
  #wizardDiv,
  #quiz {
    justify-content: center;
    align-items: center;
  }

  .card-text {
    width: 95%;
  }

  .card-title {
    justify-content: center;
    align-items: center;
  }
}

/* Responsive Adjustments */
@media (max-width: 992px) {
  #sectionContainer {
    padding: 3rem 0rem !important;
  }

  #wizardInput5,
  #wizardInput6 {
    width: 100%;
  }

  #wizardInput6 {
    height: fit-content;
  }

  #wizardInput5 {
    border-right: none;
  }

  .card-title {
    padding: 1rem 0rem 0rem;
  }
}

@media (max-width: 700px) {
  #wizardDiv,
  #quiz label {
    text-wrap: wrap;
  }

  .card {
    width: 100%;
  }

  #deleteTableBtn {
    margin-bottom: 2rem;
  }
}

@media (max-width: 580px) {
  #wizardInput5,
  #wizardInput6 {
    flex-direction: column;
  }
}

.custom-indicators button {
  background-color: #4caf50;
}

.custom-indicators .active {
  background-color: #ff5722;
}

.custom-arrow {
  filter: invert(49%) sepia(69%) saturate(6785%) hue-rotate(355deg) brightness(104%) contrast(101%);
}

.custom-img {
  border-radius: 1rem;
}

.form-check-input:checked {
  background-color: #ff5722;
  border-color: #ff5722;
}

.border-custom {
  border-right: 5px solid #f1f5f5 !important;
}

main {
  display: flex;
  flex-direction: column;
}

@keyframes moveBtnAi {
  0% {
    right: -5rem;
  }
  100% {
    right: -0.5rem;
  }
}

#picResult,
.input {
  width: 30%;
  padding: 0.2rem;
  border-radius: 0.5rem;
}

.label {
  border-radius: 5px;
}

#uploadLabel {
  color: white;
}

#previewImage {
  width: 10rem;
  height: 10rem;
}

.sectionDiv {
  width: 80%;
}

.text-custom {
  color: #ea6954;
}

.bg-custom {
  background-color: #23bbb870;
}

.nav-custom {
  background-color: #f1f5f5;
}

.btn {
  background-color: #ea6954;
  color: white;
  border: none;
}

.sectionDiv {
  width: 70%;
  background: #f1f5f5;
  border-radius: 1rem;
}

.hr-custom {
  border: 2px solid black;
  opacity: 1;
}

#stats1 {
  margin-bottom: 2.5rem;
}

.btn:hover {
  background: #56c5c3;
  color: white;
}

.custom-img {
  border-radius: 1rem;
}

#statsTableWrapper {
  height: 163.5px;
  margin-bottom: 2rem;
}

.tableWrapper {
  height: 150px;
  overflow-y: auto;
  overflow-x: auto;
  margin-bottom: 2rem;
}

@media (max-width: 991px) {
  .custom-img {
    width: 7rem;
    height: 5rem;
  }

  #wizardDiv,
  #quiz {
    flex-direction: column;
  }
}

@media (min-width: 992px) {
  .custom-img {
    width: 7rem;
    height: 5rem;
  }

  .heroText {
    width: 75%;
  }
}
